@media only screen and (min-width: 1080px) {
    body {
	margin-left: 10%;
	margin-right: 10%;
    }
}

body {
    border: 1px solid black;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 4%;
}

p { font-family: sans-serif }
h1 { color: #2f2f2f }
span.hot { color: red }

div.post-link {
    color: #2f2fff;
    font-size: 100%;
}
div.post-link:hover {
    text-decoration: underline;
}

div.post-comment-sum {
    color: gray;
    font-size: 80%;
}

