@media only screen and (min-width: 1080px) {
    body {
	margin-left: 10%;
	margin-right: 10%;
    }
}

body {
    margin:2px;
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'STHeiti Light', 'STHeiti', 'STSong', 'Microsoft YaHei', '文泉驿微米黑', 'Arial', 'Serif';
}

p {
    font-family: 'STHeiti Light', 'STHeiti', 'STSong', 'Microsoft YaHei', '文泉驿微米黑', 'sans-serif';
}
p.content {
    white-space: pre-line;
}
h1 { color: #2f2f2f }
span.hot { color: red }

div.post-link {
    color: #2f2fff;
    font-size: 100%;
}
div.post-link:hover {
    text-decoration: underline;
}

div.post-comment-sum {
    color: gray;
    font-size: 80%;
}

/* top-nav-bar */
ul.nav.nav-pills {
    box-shadow: -2px -1px 2px 1px rgba(46, 125, 255, 0.18);
    border: 2px solid #2af;
    border-radius: 2px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #666;
}
