<!doctype html>
<html>
    <head>
	<title>My Blog</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8" />
	@(xexpr->string bootstrap-style-sheet)
	@(xexpr->string top-style-sheet)
    </head>
    <body>
      	<!-- TOP NAV BAR -->
	@(top-nav-bar navs)
	<div class="posts list-group">
	    @in[a-post (blog-posts a-blog)]{
	    	@(render-post a-blog a-post embed/url)
	    }
	</div>
	<br/>
	<h4>New Post Here:</h4>
	<form action="@(embed/url insert-post-handler)" method="post">
	  <input name="title" type="text" placeholder="title" class="form-control" />
	  <textarea name="body" type="text"
		    placeholder="body" rows="5" cols="33"
		    class="form-control"></textarea>
	  <br/>
	  <input type="submit" value="Submit"
	  	class="btn btn-primary"/>
	</form>

	@(xexpr->string bootstrap-js)
    </body>
</html>
