<!doctype html>
<html>
    <head>
	<title>Add a Comment</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8" />
	@(xexpr->string bootstrap-style-sheet)
	@(xexpr->string top-style-sheet)
    </head>
    <body>
	<h1>Add a Comment</h1>
	<p>
	    The Comment:
	    <div><p>@|a-comment|</p></div>
	</p>
	will added to
	<h4>@(post-title a-blog a-post)</h4>

	<hr/>
	<p>
	  <a href="@(embed/url yes-handler)"
	     class="btn btn-link">Yes, add the comment.</a>
	</p>
	<p>
	  <a href="@(embed/url cancel-handler)"
	     class="btn btn-link">No, I changed my mind.</a>
	</p>

	@(xexpr->string bootstrap-js)
    </body>
</html>
