<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Ocurred</title>
    @(xexpr->string bootstrap-style-sheet)
    @(xexpr->string top-style-sheet)
</head>
<body>
    <h1 style="color: red;">@|title|</h1>
    <div>
	<p>@|message|</p>
    </div>

    <hr/>
    <div>
      <a href="@(embed/url back-handler)"
	 class="btn btn-link">Go Back</a>
    </div>
    
    @(xexpr->string bootstrap-js)
</body>
</html>
