<!doctype html>
<html>
    <head>
	<title>Quanye Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8" />
	@(xexpr->string bootstrap-style-sheet)
	@(xexpr->string top-style-sheet)
    </head>
    <body>
	<!-- TOP NAV BAR -->
	@(top-nav-bar navs)
	<pre>生理学、编程、自由、平等</pre>
	<div>[爱，是什么]</div>

	<div>[程序项目]</div>

	<div>[生理学研究]</div>

	<div>[机器与生命]</div>

	<div>[好物推荐]</div>

	<div>[Quanye的世界观]</div>

	<div>[正确教育]</div>
	
	powered by 权业 陈
	Thank you <a href="https://racket-lang.org">Racket</a>.
    </body>
</html>
