<!doctype html>
<html>
    <head>
	<title>Post Details</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8" />
	@(xexpr->string top-style-sheet)
    </head>
    <body>
	<h1>Post Details</h1>
	<h2>@(post-title a-blog a-post)</h2>
	<p>@(post-body a-blog a-post)</p>
	@(xexpr->string (render-as-itemized-list (post-comments a-blog a-post)))
	<form action="@(embed/url insert-comment-handler)" method="post">
	    <input name="comment" type="text" value=""/>
	    <input name="" type="submit" value="Submit"/>
	</form>
	<div>
	    <a href="@(embed/url goback-handler)">Back</a>
	</div>
    </body>
</html>
